/* fuentes */

/* font-family: "Fleur De Leah", cursive;
font-family: "Tangerine", cursive;
font-family: "Inter", sans-serif;
font-family: "Playfair Display", serif;
font-family: "Kalnia", serif; */

/* Todo */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f2e7;
}

/* Portada */

header {
    text-align: center;
    background-image: url(../imagenes/fondo-portada.png);
    background-size: 100% 100%;
    /* filter: saturate(120%);  */   
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

header .todo{
    display: flex;
}

header .img1{
    height: 100vh;
}

header .img2{
    display: none;
}

header .portada{
    margin-left: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column; /* Esto asegura que los elementos estén en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100vh;
}

.portada h2{
    
    color: #aa770e;
    font-size: 7rem;
    font-weight: 100;
    /* font-family: "Fleur De Leah", cursive; */
    font-family: "Tangerine", cursive;
    /* font-family: "Inter", sans-serif; */
    /* font-family: "Playfair Display", serif; */
    /* font-family: "Kalnia", serif; */
    line-height: 80%;
}


.portada h2 span{
    /* font-family: "Fleur De Leah", cursive; */
    font-family: "Tangerine", cursive;
    /* font-family: "Inter", sans-serif; */
    /*font-family: "Playfair Display", serif;*/
    /* font-family: "Kalnia", serif; */
    font-weight: 600;
}

.portada p{
    padding-top: 3rem;
    color: black;
    font-size: 1.5rem;
    font-family: "Playfair Display", serif;
}

@media (orientation: portrait){
    header{
        background-image: url(../imagenes/portada-cel02.png);
    }

    header .img1{
        display: none;
    }

    header .portada{
        display: block;
        width: 100%;
        margin-left: 0px;
    }

    header .img2{
        display: block;
        height: 90%;
    }

    header .img2 img{
        height: 100%;
    }

    .portada .padre{
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .padre h2{
        font-size: 4rem;
    }

    .hijo{
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .portada p{
        font-size: 1.2rem;
    }
}

/* header img{
    width: 200px;
    height: auto;
    border-radius: 48%;
    border: 10px solid transparent;
    background: linear-gradient(#151515, #151515) padding-box,
        linear-gradient(-72deg, #ffc373, #ffffff 16%, #ffc373 21%, #ffffff 24%, #a17434 27%, #ffc373 36%, #ffffff 45%, #ffffff 60%, #ffc373 72%, #ffffff 80%, #ffc373 84%, #a17434) border-box;    
} */

/* Temporizador */

.tempo{
    margin: 1rem auto;
    width: 350px;
    height: 350px;
    background-image: url(../imagenes/fondo-temp.png);
    background-size: cover;
    text-align: center;
}

.tempo h2{
    padding-top: 110px;
    font-family: "Tangerine", cursive;
    font-size: 35px;
    color: #aa770e;
}
#temporizador{
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.simply-section{
    color: #aa770e;
    margin: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simply-amount{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    width: 40px;
    height: 30px;
    margin-bottom: 10px;
    font-family: "Fleur De Leah", cursive;
}

.simply-word{
    font-size: 12px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

/* Ceremonia y Fiesta */
h6{
    text-align: center;
    padding: 4rem 0;
    font-family: "Tangerine", cursive;
    font-size: 4rem;
    color: #aa770e;
}

@media (max-width: 615px) {
    h6{
        font-size: 3rem;
    }
}
#datos {
    width: 75%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media (max-width: 705px) {
    #datos{
        grid-template-columns: repeat(1,1fr);
    }
}

.card{
    border-radius: 10px;
    margin: 15px auto;
    width: 250px;
    height: 400px;
}

.card div{
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f8f6f1;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 100;
    font-size: 25px;
}

.card p{
    padding: 10px;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f8f6f1;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    
}
.c1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/parroquia01.png);
    filter: opacity(200%);
}

.c2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/terra_oliva01.png);
}

.c1, .c2{
    background-size: cover;
    filter: drop-shadow(8px 8px 10px gray);
}

.btn {
    text-decoration: none;
    margin: 2rem auto;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right,#bf953f,#fcf6ba,#b38728,#fbf5b7,#aa771c);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 0.8em;
    color: rgb(121, 103, 3);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    
    transition-duration: 3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
    background-size: 200% 200%;
}

/* Ramas */

.contenedor{
    display: flex;
    justify-content: space-between;
}

.objeto1 img, .objeto2 img{
    width: 150px;
}

@media (orientation: portrait) {
    .objeto1 img, .objeto2 img{
        width: 100px;
    }
}

/* Galeria */
#galeria{
    height: 100vh;
    text-align: center;
}

#galeria h3{
    padding-top: 2rem;
    font-family: "Tangerine", cursive;
    font-size: 4rem;
    color: #aa770e;
}

#galeria h4{
    font-family: "Playfair Display", serif;
    font-size: 1.3rem;
    color: #aa770e;
}

@media (max-width: 524px) {
    #galeria h3{
        font-size: 3rem;
    }

    #galeria h4{
        font-size: 1rem;
    }
}

.gal{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel{
    overflow: hidden;
    width: 90%;
}

.wrap{
    padding-bottom: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 400px;
    justify-items: stretch;
    animation: slide 40s linear infinite;
}

.wrap img{
    
    width: 300px;
    height: 300px;
    border-width: 10px 10px 30px 10px;
    border-style: solid;
    border-color: white;
    filter: drop-shadow(4px 4px 5px #e1c699);
    /* border-radius: 15px; */
    object-fit: cover;
}

@keyframes slide {
    to {
        translate: calc(-4 * 1200px);
    }
}

/* Tarjeta */
#tarj{
    
    padding: 4rem 0;
    background-color: #96a569;
    border: 10px solid;
    border-image-slice: 1;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-image-source: linear-gradient(45deg,#bf953f,#fcf6ba,#b38728,#fbf5b7,#aa771c);;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 340px;
    padding: 20px 1px;
    margin: 0px auto;
    text-align: center;
    position: relative;
    filter: drop-shadow(4px 4px 5px #e1c699);
    border-radius: 10px;
    background-color: #6B6ECC;
    background: linear-gradient(45deg,#fbf5b7,#b38728,#e1c699,#bf953f,#fbf5b7);
    /* background: linear-gradient(45deg,#bf953f,#fcf6ba,#b38728,#fbf5b7,#aa771c); */
}
  
.content {
    padding: 20px;
}
  
.content .price {
    color: white;
    font-weight: 800;
    font-size: 50px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}
  
.content .description {
    font-family: "Inter", sans-serif;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    margin-top: 10px;
    font-size: 15px;
}
  
.content .title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
}
  
button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: #aa770e;
    border-radius: 0.5rem;
    width: 90%;
    text-shadow: 0px 4px 18px #2c3442;
}

  /* Otra informacion */
#informacion {
    padding-top: 2rem;
    width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media(max-width: 805px){
    #informacion{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 525px) {
    #informacion{
        grid-template-columns: repeat(1,1fr);
    }
}

.info {
    margin: 15px auto;
    width: 200px;
    height: 320px;
    border-radius: 30px;
    background: whitesmoke;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #f8f6f1;
    text-align: center;
}

.info h4{
    color: #bfa880;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    padding-top: 15px;
}

.info img{
    padding: 15px 0;
}
.info p{
    height: 80px;
    padding: 0 8px;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

/* Footer */

footer{
    text-align: center;
    border: 10px solid;
    border-image-slice: 1;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-image-source: linear-gradient(45deg,#bf953f,#fcf6ba,#b38728,#fbf5b7,#aa771c);;
    height: 130px;
    background-color: #96a569;
}

footer p{
    padding-top: 2.5rem;
    color: whitesmoke;
    font-family: 'Jost', sans-serif;
}

footer p span{
    color: #e43b17;
}

/* Contacto */

.check-w{
    position: fixed;
    padding: 10px;
    background: linear-gradient(45deg,#fbf5b7,#b38728,#e1c699,#bf953f,#fbf5b7);
    color: whitesmoke;
    font-size: 30px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    bottom: 30px;
    right: 30px;
    text-align: center;
    font-size: 40px;
    
}

#check{
    display: none;
}

.back-w{
    position: fixed;
    width: 220px;
    height: 200px;
    bottom: 110px;
    right: -300px;
    background: rgba( 255, 230, 233, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 25px;
    transition: all .5s;
}

#check:checked ~ .back-w{
    right: 30px;
}

.f-w{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}

.back-w h5{
    font-family: "Kalnia", serif;
    color: whitesmoke;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    background: linear-gradient(45deg,#fbf5b7,#b38728,#e1c699,#bf953f,#fbf5b7);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    
}

.hip-n{
    font-family: "Kalnia", serif;
    line-height: 70px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}